{% extends "core/base.html" %}
{% block title %}
    {% if danie_nedvizki.nazvanie %}{{ danie_nedvizki.nazvanie }}{% else %}Агентство недвижимости Альтаир{% endif %}
{% endblock %}
{% load thumbnail static cms_tags sekizai_tags %}
{% block content %}

    <div id="wrapper" class="page_second_type">

        {% include 'core/elements/navbar.html' %}


        <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 99999; right: 0; top: 15px;">
            <div id="uvedomlenie" style="opacity:1!important;" class="toast hide bg-white" role="alert"
                 aria-live="assertive" aria-atomic="true" data-delay="5000">
                <div class="toast-header uvedomlenie_header bg-warning ">
                    <strong class="mr-auto uvedomlenie_title text-dark h6 text-uppercase"></strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body  uvedomlenie_telo h6 text-center ">

                </div>
            </div>
        </div>


        <main>
            <div class="dv_nedvizka">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12 col-lg-12 mb-3 text-md-left text-center">
                            <h1><b>{{ danie_nedvizki.get_nazvanie }}</b></h1>
                        </div>

                        <div class="col-12 col-md-5 col-lg-4 mb-3">
                            {% if  danie_nedvizki.previu %}
                                <img class="img-fluid previu" src="{% thumbnail danie_nedvizki.previu 500x500 %}"
                                     alt="">
                            {% else %}
                                <img class="img-fluid  "
                                     src="{% static 'core/img/net_photo.jpg' %}"
                                     alt="">
                            {% endif %}
                            <div class="text-center mt-4">
                                <a href="#okno_zakaza_zvonka"
                                   class="btn btn-warning zakazat_zvonok d-none d-md-inline btn-warning2    "
                                   data-target="#okno_zakaza_zvonka" data-toggle="modal">Связаться с риэлтором</a>
                            </div>

                        </div>

                        <div class="col-12 col-md-7 col-lg-8 mb-3">
                            <table class="table ">

                                {% if akzia %}
                                    <tr>
                                        <td>Цена до акции / спец предложения</td>
                                        <td class="text-center">{{ danie_nedvizki.price_bazovaia|floatformat }} руб.
                                        </td>

                                        <td><b>Цена сейчас</b></td>
                                        <td class="text-center"><b>{{ danie_nedvizki.price_bazovaia|floatformat }}
                                            руб.</b>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>Цена</td>
                                        <td class="text-center">{{ danie_nedvizki.price_bazovaia|floatformat }} руб.
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.tip_maloetaznoi_postroiki %}
                                    <tr>
                                        <td>Тип:</td>
                                        <td class="text-center">{{ danie_nedvizki.tip_maloetaznoi_postroiki.nazvanie }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.tip_neziloe %}
                                    <tr>
                                        <td>Тип:</td>
                                        <td class="text-center">{{ danie_nedvizki.tip_neziloe.nazvanie }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.tip_komerch %}
                                    <tr>
                                        <td>Тип:</td>
                                        <td class="text-center">{{ danie_nedvizki.tip_komerch.nazvanie }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.obshaia_ploshad %}
                                    <tr>
                                        <td>Площадь</td>
                                        <td class="text-center">{{ danie_nedvizki.obshaia_ploshad|floatformat|default_if_none:0 }}
                                            м<sup>2</sup></td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.ploshad_uchastka %}
                                    <tr>
                                        <td>Площадь участка</td>
                                        <td class="text-center">{{ danie_nedvizki.ploshad_uchastka|floatformat|default_if_none:0 }}
                                            м<sup>2</sup></td>
                                    </tr>
                                {% endif %}




                                {% if danie_nedvizki.material_postroiki %}
                                    <tr>
                                        <td>Материал постройки</td>
                                        <td class="text-center">{{ danie_nedvizki.material_postroiki.nazvanie }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.kolvo_etazei %}
                                    <tr>
                                        <td>Количество этажей</td>
                                        <td class="text-center">{{ danie_nedvizki.kolvo_etazei }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.kolvo_komnat %}
                                    <tr>
                                        <td>Количество комнат</td>
                                        <td class="text-center">{{ danie_nedvizki.kolvo_komnat }}</td>
                                    </tr>
                                {% endif %}



                                {% if danie_nedvizki.ploshad_uchastka %}
                                    <tr>
                                        <td>Площадь участка</td>
                                        <td class="text-center">{{ danie_nedvizki.ploshad_uchastka }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.naselenii_punkt %}
                                    <tr>
                                        <td>Населенный пункт</td>
                                        <td class="text-center">{{ danie_nedvizki.naselenii_punkt|default_if_none:"-" }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.adres %}
                                    <tr>
                                        <td>Адрес</td>
                                        <td class="text-center">{{ danie_nedvizki.adres|default_if_none:"-" }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.nalichie_otdelki %}
                                    <tr>
                                        <td>Наличие внутренней отделки</td>
                                        <td class="text-center">{{ danie_nedvizki.get_nalichie_otdelki_display }}</td>
                                    </tr>
                                {% endif %}

                              {% if danie_nedvizki.nalichie_vnesheni_otdelki %}
                                    <tr>
                                        <td>Наличие внешней отделки</td>
                                        <td class="text-center">{{ danie_nedvizki.get_nalichie_vnesheni_otdelki_display }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.ostanovki %}
                                    <tr>
                                        <td>Отстановки</td>
                                        <td class="text-center">{{ danie_nedvizki.ostanovki|default_if_none:"-" }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.nalichie_gaza == False or  danie_nedvizki.nalichie_gaza == True %}
                                    <tr>
                                        <td>Наличие газа в доме</td>
                                        <td class="text-center">{{ danie_nedvizki.get_nalichie_gaza_display }}</td>
                                    </tr>
                                {% endif %}



                                {% if danie_nedvizki.blizost_so_shkoloi == True or danie_nedvizki.blizost_so_shkoloi == False %}
                                    <tr>
                                        <td>Близость со школой или дет. садом</td>
                                        <td class="text-center">{{ danie_nedvizki.get_blizost_so_shkoloi_display }}</td>
                                    </tr>
                                {% endif %}



                                {% if danie_nedvizki.vodoprovod == True or danie_nedvizki.vodoprovod == False %}
                                    <tr>
                                        <td>Водопровод</td>
                                        <td class="text-center">{{ danie_nedvizki.get_vodoprovod_display }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.electrichestvo == True or danie_nedvizki.electrichestvo == False %}
                                    <tr>
                                        <td>Электричество</td>
                                        <td class="text-center">{{ danie_nedvizki.get_electrichestvo_display }}</td>
                                    </tr>
                                {% endif %}

                                {% if danie_nedvizki.blizost_s_med == True or danie_nedvizki.blizost_s_med == False %}
                                    <tr>
                                        <td>Близость с мед учереждением</td>
                                        <td class="text-center">{{ danie_nedvizki.get_blizost_s_med_display }}</td>
                                    </tr>
                                {% endif %}

                            </table>

                        </div>

                        <!-- описание -->
                        <div class="col-12 mb-3">
                            <div>{{ danie_nedvizki.opisaanaie|safe|default_if_none:"-" }}</div>
                            <div class="text-center mt-4">
                                <a href="#okno_zakaza_zvonka"
                                   class="btn btn-warning zakazat_zvonok  d-md-none btn-warning2    "
                                   data-target="#okno_zakaza_zvonka" data-toggle="modal">Связаться с риэлтором</a>
                            </div>
                        </div>

                        <!-- фотки -->
                        <div class="col-12 mb-3">
                            <div class=" text-center">
                                <div class="lightgallery2 row">
                                    {% for foto in danie_nedvizki.get_foto_set %}
                                        <a class="col-12 col-md-4 col-lg-3" href="{{ foto.img.url }}">

                                            <img class="ten1 mb-2 w-100"
                                                 src="{% thumbnail foto.img 700x300 %}">

                                        </a>
                                    {% endfor %}
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <!-- ипотека -->
                <div class="bg-light py-5">
                    <div class="container">
                        <h3 class="text-uppercase mb-3"><b>Расчитайте ипотеку прямо на сайте</b></h3>

                        <form class="col-12 card py-3 ten1">

                            <div class="row">
                                <div class="col-12 col-lg-6 mb-3">
                                    <div class="mb-3">
                                        <label for="">Стоимость недвижимости <small>(руб.)</small></label>
                                        <input type="text" class="form-control number" id="input_stoimost"
                                               name="stoimost"
                                               value="{{ danie_nedvizki.price_itogovaia|floatformat }}">
                                    </div>

                                    <div class="mb-3">
                                        <label for="">Первоначальный взнос <small>(руб.)</small></label>
                                        <input type="text" class="form-control number" id="input_pervonachalni_vznos"
                                               name="pervonachalni_vznos"
                                               value="{{ danie_nedvizki.get_pervonochalnii_vznos|floatformat }}">
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <label for="">Срок</label>
                                            <select name="srok" class="form-control" id="input_srok">
                                                <option value="1">1 год</option>
                                                <option value="2">2 года</option>
                                                <option value="4">4 года</option>
                                                <option value="5">5 лет</option>
                                                <option value="10" selected>10 лет</option>
                                                <option value="15">15 лет</option>
                                                <option value="20">20 лет</option>
                                                <option value="25">25 лет</option>
                                                <option value="30">30 лет</option>
                                            </select>
                                        </div>

                                        <div class="col-12 col-lg-6">
                                            <label for="">Ставка (%)</label>
                                            <input type="text" id="input_stavka" class="form-control number"
                                                   name="stavka"
                                                   value="10.5">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6 border-left border-do-lg-top pt-3 pt-lg-0">
                                    <p class="h5 mb-3"><b>Результаты расчета</b></p>

                                    <div>
                                        <div class="mb-3">
                                            <span class="legenda-kredit d-inline-block mr-2"></span><span
                                                class="mr-4"><small>Кредит</small></span>
                                            <span class="legenda-pereplata d-inline-block mr-2"></span><span><small>Переплата</small></span>
                                        </div>
                                        <div class="progress mb-3">
                                            <div class="progress-bar progress-bar-kredit bg-success" role="progressbar"
                                                 style="width: 80%"
                                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar progress-bar-pereplata bg-warning"
                                                 role="progressbar" style="width: 20%"
                                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6 text-secondary">
                                            <span>Сумма кредита:</span>
                                        </div>
                                        <div class="col-6 text-right">
                                            <span class="val_summa_kredita"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6 text-secondary">
                                            <span>Ежемесячный платеж:</span>
                                        </div>
                                        <div class="col-6 text-right">
                                            <span class="val_ezemes_platez"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6 text-secondary">
                                            <span>Переплата по кредиту: </span>
                                        </div>
                                        <div class="col-6 text-right">
                                            <span class="val_pereplata"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6 text-secondary">
                                            <span>Общая выплата:</span>
                                        </div>
                                        <div class="col-6 text-right">
                                            <span class="val_obshaia_viplata"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
    </div>

    {% include 'core/elements/footer.html' %}
    {% static_placeholder 'modalnie_okna' %}

{% endblock %}


{% addtoblock 'js' %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>"
            type="text/javascript"></script>
{% endaddtoblock %}




{##}
{#ymaps.ready(init);#}
{##}
{#function init() {#}
{#    var myMap = new ymaps.Map("map", {#}
{#            center: [{{danie_nedvizki.kordinati_na_karte}}],#}
{#            zoom: 17#}
{#        }, {#}
{#            searchControlProvider: 'yandex#search'#}
{#        }),#}
{##}
{#        // Создаем геообъект с типом геометрии "Точка".#}
{#        myGeoObject = new ymaps.GeoObject();#}
{##}
{#    myMap.geoObjects.add(#}
{#        new ymaps.Placemark([{{danie_nedvizki.kordinati_na_karte}}], {}, {#}
{#                preset: 'islands#circleDotIcon',#}
{#                iconColor: '#60beaf'#}
{#            }#}
{#        ));#}
{##}
{#    myMap.behaviors.disable('scrollZoom')#}
{#{#}



{% addtoblock 'css' %}
    {#    <style>#}
    {##}
    {#        .dv_nedvizka .btn-dark {#}
    {#            border-radius: 25px;#}
    {#            padding: 2px 20px;#}
    {#            vertical-align: text-bottom;#}
    {#        }#}
    {##}
    {##}
    {#        .owl_carousel_nedvizka .owl-nav {#}
    {#            position: absolute;#}
    {#            top: 0;#}
    {#            width: 100%;#}
    {#            height: 100%;#}
    {#            margin: 0 !important;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-nav button.owl-next, .owl_carousel_nedvizka .owl-nav button.owl-prev {#}
    {#            background: rgba(0, 0, 0, 0.5);#}
    {#            color: inherit;#}
    {#            border: none;#}
    {#            font: inherit;#}
    {#            height: 100%;#}
    {#            margin: 0 !important;#}
    {#            border-radius: 0;#}
    {#            padding: 0 !important;#}
    {#            width: 90px;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-dots {#}
    {#            display: none;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-theme .owl-nav {#}
    {#            margin: 0;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-prev {#}
    {#            left: 0;#}
    {#            position: absolute;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-next {#}
    {#            right: 0;#}
    {#            position: absolute;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-next:hover, .owl_carousel_nedvizka .owl-prev:hover {#}
    {#            background: rgba(96, 190, 175, 0.7) !important;#}
    {#            color: #fff !important;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-next:hover span, .owl_carousel_nedvizka .owl-prev:hover span {#}
    {#            color: #fff !important;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-nav button span {#}
    {#            font-size: 80pt;#}
    {#            color: #60beaf;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-nav button span:hover {#}
    {#            color: #FFFFFF;#}
    {#        }#}
    {##}
    {#        .owl_carousel_nedvizka .owl-dot.active span, .owl_carousel_nedvizka .owl-dot.active span:hover {#}
    {#            background: #60beaf !important;#}
    {#            color: #FFFFFF;#}
    {##}
    {##}
    {#        }#}
    {##}
    {#        .dv_nedvizka .oblast_zagolovka .btn-light {#}
    {#            border-radius: 20px;#}
    {#        }#}
    {##}
    {#        .dv_nedvizka .bg-light {#}
    {#            background-color: #eaeaea !important;#}
    {#        }#}
    {##}
    {#        #map, iframe {#}
    {#            -webkit-box-shadow: 0px 5px 10px 6px rgba(34, 60, 80, 0.4);#}
    {#            -moz-box-shadow: 0px 5px 10px 6px rgba(34, 60, 80, 0.4);#}
    {#            box-shadow: 0px 5px 10px 6px rgba(34, 60, 80, 0.4);#}
    {##}
    {#        }#}
    {##}
    {##}
    {#col#}
    {#        @media (max-width: 575px) {#}
    {#            #map {#}
    {#                height: 300px;#}
    {#            }#}
    {#        }#}
    {##}
    {#sm#}
    {#        @media (min-width: 576px) {#}
    {#            #map {#}
    {#                height: 400px;#}
    {#            }#}
    {#        }#}
    {##}
    {##}
    {#md#}
    {#        @media (min-width: 768px) {#}
    {#            #map {#}
    {#                height: 500px;#}
    {#            }#}
    {#        }#}
    {##}
    {#lg#}
    {#        @media (max-width: 991px) {#}
    {#            .dv_nedvizka .tabliza_parametrov_obiekta .col-12:nth-child(odd) > div {#}
    {#                background-color: #fff !important;#}
    {#            }#}
    {##}
    {#            .dv_nedvizka .tabliza_parametrov_obiekta {#}
    {##}
    {#            }#}
    {##}
    {#            .dv_nedvizka .tabliza_parametrov_obiekta .col-12 > div {#}
    {#                border-radius: 15px;#}
    {#                padding: 2px 10px;#}
    {#            }#}
    {##}
    {#        }#}
    {##}
    {#        @media (min-width: 992px) {#}
    {#            #map {#}
    {#                height: 600px;#}
    {#            }#}
    {##}
    {#            .dv_nedvizka .tabliza_parametrov_obiekta .odd > div {#}
    {#                background-color: #fff !important;#}
    {#            }#}
    {##}
    {#            .dv_nedvizka .tabliza_parametrov_obiekta .col-12 > div {#}
    {#                padding-left: 15px;#}
    {#                height: 100%;#}
    {#            }#}
    {##}
    {##}
    {#            .dv_nedvizka .tabliza_parametrov_obiekta .odd:nth-child(2n+1) > div {#}
    {#                padding-left: 15px;#}
    {#                border-radius: 15px 0 0 15px;#}
    {#            }#}
    {##}
    {#            .dv_nedvizka .tabliza_parametrov_obiekta .odd:nth-child(2n) > div {#}
    {#                padding-right: 15px;#}
    {#                border-radius: 0 15px 15px 0;#}
    {#            }#}
    {##}
    {#            .dv_nedvizka .tabliza_parametrov_obiekta .col-12:nth-child(2n+1) {#}
    {#                padding-right: 0 !important;#}
    {#            }#}
    {##}
    {#            .dv_nedvizka .tabliza_parametrov_obiekta .col-12:nth-child(2n) {#}
    {#                padding-left: 0 !important;#}
    {#            }#}
    {##}
    {##}
    {#        }#}
    {##}
    {#xl#}
    {#        @media (min-width: 1120px) {#}
    {##}
    {#        }#}
    {##}
    {##}
    {#    </style>#}

{% endaddtoblock %}

