{% extends "core/base.html" %}
{% load cms_tags menu_tags sekizai_tags static %}
{% block content %}
    {% load thumbnail %}


    {% include 'core/elements/navbar.html' %}


    <main class="dv_nedvizka">

        <div class="header_black"></div>

        <!--  -->
        <div class="bg-dark text-white oblast_zagolovka py-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-3 d-none d-lg-block">
                        <a href="#" class="text-uppercase px-3 btn btn-light"><b>Показать на карте</b></a>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h1 class="text-uppercase text-center h2">
                            <b>{{ danie_nedvizki.nazvanie|default_if_none:'Безымянный объект' }}</b></h1>
                    </div>
                    <div class="col-12 col-lg-3 text-center text-lg-right">
                        <span class="mb-3 mr-2 d-block d-lg-inline"><b>{{ danie_nedvizki.raspolozenie_gorod|default_if_none:'' }}</b></span>
                        <span class="btn btn-light py-1 d-inline-block d-lg-inline"><b>{{ danie_nedvizki.nomer|default_if_none:'' }}</b></span>
                        {% if user.is_superuser %}
                            <a target="_blank" href="/admin/nedvizka/dom/{{ danie_nedvizki.id }}/change/"
                               class="text-info py-1 d-block "><b>Открыть в админке</b></a>{% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- слайдер -->

        <div class="owl-carousel owl_carousel_nedvizka owl-theme">
            {% for i_nedvizka in danie_nedvizki.get_foto_set %}
                <div class="item">
                    <img class="img-fluid" src="{% thumbnail i_nedvizka.img 900x600 %}" alt="">
                </div>
            {% endfor %}
        </div>


        <div class="bg-light py-3">

            <!--  цена площади и тд -->
            <div class="container-fluid mb-5">
                <div class="row">

                    <div class="col-12 col-lg-4 col-xl-5 text-center text-lg-left mb-5 mb-lg-0">
                        <a href="#" class="btn btn-dark"><b>₽/$</b></a>
                        <span class="h2"><b>{{ danie_nedvizki.price_dollor|floatformat }}$</b></span>
                        <span class="h2 d-none"><b>{{ danie_nedvizki.price_rub|floatformat }}руб.</b></span>
                    </div>

                    <div class="col-12 col-lg-8 col-xl-7  text-center text-lg-right">
                        <div class="row">


                            <div class="col-4 text-center d-lg-inline">
                                <img class=" d-lg-inline mb-2" height="35" width="35"
                                     src="{% static 'nedvizka/img/plosad_doma.png' %}" alt="">

                                <b class="h6 font-weight-bold m-0 ml-lg-1 mr-lg-4 d-lg-inline   d-block">{{ danie_nedvizki.ploshad_osnovnogo_doma|floatformat }}
                                    кв.м</b>
                            </div>

                            <div class="col-4 text-center d-lg-inline">
                                <img class=" mb-2" height="35"
                                     src="{% static 'nedvizka/img/ploshad_uchastka.png' %}" alt="">
                                <b class="h6 font-weight-bold  m-0 ml-lg-1 mr-lg-4  d-lg-inline  d-block">{{ danie_nedvizki.ploshad_uchastka|floatformat }}
                                    соток</b>
                            </div>
                            <div class="col-4 text-center d-lg-inline">

                                <img height="35" class=" mb-2" src="{% static 'nedvizka/img/spalni.png' %}" alt="">
                                <b class="h6 font-weight-bold  m-0 ml-lg-1 mr-lg-4   d-block d-lg-inline">{{ danie_nedvizki.kolvo_spalen }}
                                    спален</b>

                            </div>


                        </div>


                    </div>
                </div>
            </div>

            <!-- таблмца характеристик -->
            <div class="container-fluid mt-5">
                <div class="row tabliza_parametrov_obiekta">
                    <div class="col-12 col-lg-6 odd">
                        <div>
                            <span><b>Общая площадь участка</b></span>
                            <span>{{ danie_nedvizki.obshaia_ploshad|floatformat }} соток</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 odd">
                        <div>
                            <span><b>Отделка</b></span>
                            <span>{{ danie_nedvizki.otdelka }}</span>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 not_odd">
                        <div>
                            <span><b>Общая площадь дома</b></span>
                            <span>{{ danie_nedvizki.ploshad_osnovnogo_doma|floatformat }} кв.м</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 not_odd">
                        <div>
                            <span><b>Мебель и техника</b></span>
                            <span>{{ danie_nedvizki.get_mebel_display }}</span>
                        </div>
                    </div>


                    <div class="col-12 col-lg-6 odd">
                        <div>
                            <span><b>Этажность</b></span>
                            <span>{{ danie_nedvizki.etaznost }}</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 odd">
                        <div>
                            <span><b>Бассеин</b></span>
                            <span>{{ danie_nedvizki.bassein }}</span>
                        </div>
                    </div>


                    <div class="col-12 col-lg-6 not_odd">
                        <div>
                            <span><b>Количество комнат</b></span>
                            <span>{{ danie_nedvizki.kolvo_komnat }}</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 not_odd">
                        <div>
                            <span><b>Зона барбекю</b></span>
                            <span>{{ danie_nedvizki.zona_barbeku }}</span>
                        </div>
                    </div>


                    <div class="col-12 col-lg-6 odd">
                        <div class="">
                            <span><b>Количество спален</b></span>
                            <span>{{ danie_nedvizki.kolvo_spalen }}</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 odd">
                        <div>
                            <span><b>Растояние до города</b></span>
                            <span>{{ danie_nedvizki.rastoianie_do_goroda }}</span>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 not_odd">
                        <div>
                            <span><b>Количество санузлов</b></span>
                            <span>{{ danie_nedvizki.kolvo_sanuzlov }}</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 not_odd">
                        <div>
                            <span><b>Растояние до моря</b></span>
                            <span>{{ danie_nedvizki.rastoianie_do_moria }}</span>
                        </div>
                    </div>

                </div>
            </div>

             <!-- таблмца описание и видео -->
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p>
                            {{ danie_nedvizki.opisaanaie|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- описание -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6"></div>
            </div>
        </div>


    </main>


    {% include 'core/elements/footer.html' %}


    {% addtoblock 'js' %}
        <script src="{% static 'otzivi_plugin/lib/OwlCarousel2/owl.carousel.min.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{% static 'otzivi_plugin/lib/OwlCarousel2/assets/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'otzivi_plugin/lib/OwlCarousel2/assets/owl.theme.default.min.css' %}">
    {% endaddtoblock %}


    {% addtoblock 'js' %}
        <script>
            $(function () {
                $('.owl_carousel_nedvizka').owlCarousel({
                    loop: true,
                    margin: 5,
                    nav: true,
                    center: true,
                    autoWidth: true,
                    responsive: {
                        0: {
                            items: 1
                        },


                        800: {
                            items: 2
                        },
                        1000: {
                            items: 3
                        }
                    }
                })
            });
        </script>
    {% endaddtoblock %}



    {% addtoblock 'css' %}
        <style>

            .dv_nedvizka .btn-dark {
                border-radius: 25px;
                padding: 2px 20px;
                vertical-align: text-bottom;
            }


            .owl_carousel_nedvizka .owl-nav {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                margin: 0 !important;
            }

            .owl_carousel_nedvizka .owl-nav button.owl-next, .owl_carousel_nedvizka .owl-nav button.owl-prev {
                background: rgba(0, 0, 0, 0.5);
                color: inherit;
                border: none;
                font: inherit;
                height: 100%;
                margin: 0 !important;
                border-radius: 0;
                padding: 0 !important;
                width: 90px;
            }

            .owl_carousel_nedvizka .owl-dots {
                display: none;
            }

            .owl_carousel_nedvizka .owl-theme .owl-nav {
                margin: 0;
            }

            .owl_carousel_nedvizka .owl-prev {
                left: 0;
                position: absolute;
            }

            .owl_carousel_nedvizka .owl-next {
                right: 0;
                position: absolute;
            }

            .owl_carousel_nedvizka .owl-next:hover, .owl_carousel_nedvizka .owl-prev:hover {
                background: rgba(96, 190, 175, 0.7) !important;
                color: #fff !important;
            }

            .owl_carousel_nedvizka .owl-next:hover span, .owl_carousel_nedvizka .owl-prev:hover span {
                color: #fff !important;
            }

            .owl_carousel_nedvizka .owl-nav button span {
                font-size: 80pt;
                color: #60beaf;
            }

            .owl_carousel_nedvizka .owl-nav button span:hover {
                color: #FFFFFF;
            }

            .owl_carousel_nedvizka .owl-dot.active span, .owl_carousel_nedvizka .owl-dot.active span:hover {
                background: #60beaf !important;
                color: #FFFFFF;


            }

            .dv_nedvizka .oblast_zagolovka .btn-light {
                border-radius: 20px;
            }

            .dv_nedvizka .bg-light {
                background-color: #eaeaea !important;
            }


            {#col#}
            @media (max-width: 575px) {

            }

            {#sm#}
            @media (min-width: 576px) {

            }


            {#md#}
            @media (min-width: 768px) {

            }

            {#lg#}
            @media (max-width: 991px) {
                .dv_nedvizka .tabliza_parametrov_obiekta .col-12:nth-child(odd) > div {
                    background-color: #fff !important;
                }

                 .dv_nedvizka .tabliza_parametrov_obiekta{

                 }

                 .dv_nedvizka .tabliza_parametrov_obiekta .col-12 > div{
                     border-radius: 15px;
                     padding: 2px 10px;
                 }

            }

            @media (min-width: 992px) {

                .dv_nedvizka .tabliza_parametrov_obiekta .odd > div {
                    background-color: #fff !important;
                }

                .dv_nedvizka .tabliza_parametrov_obiekta .col-12 > div{
                    padding-left: 15px;
                    height: 100%;
                }



                .dv_nedvizka .tabliza_parametrov_obiekta .odd:nth-child(2n+1) > div {
                    padding-left: 15px;
                    border-radius: 15px 0 0 15px;
                }

                .dv_nedvizka .tabliza_parametrov_obiekta .odd:nth-child(2n) > div {
                    padding-right: 15px;
                    border-radius: 0 15px 15px 0;
                }

                .dv_nedvizka .tabliza_parametrov_obiekta .col-12:nth-child(2n+1) {
                    padding-right: 0 !important;
                }

                .dv_nedvizka .tabliza_parametrov_obiekta .col-12:nth-child(2n) {
                    padding-left: 0 !important;
                }


            }

            {#xl#}
            @media (min-width: 1120px) {

            }


        </style>

    {% endaddtoblock %}


{% endblock %}

