/*Шрифты pt шаблона * 3 - 1*/

html, body {
  height: 100%;

}

#wrapper {
  min-height: 100%;
  height: auto;
  padding: 0 0 0;
}


$color1: #fdc532;
$color2: #f8f9fa;

@mixin ten_verx() {
  -webkit-box-shadow: 0px -8px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px -8px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px -8px 5px -5px rgba(34, 60, 80, 0.6);
}

@mixin ten1() {
  -webkit-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
}

@mixin ten2() {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
}

@mixin ten3() {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2)
}

@mixin ten4() {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);
}


.ten1 {
  @include ten1()
}

.ten2 {
  @include ten2()
}

.ten3 {
  @include ten3()
}


.dv_nedvizka {
  .previu {
    @include ten1();
  }
}

.lg-toolbar.lg-group {
  z-index: 1000000000 !important;
}

.lg-outer {
  z-index: 1000000000 !important;
}

.lg-close.lg-icon {
  color: $color1;
  opacity: 1;
  font-size: 30pt;
}


.modal-content {
  @include ten1();
}

.nedvizka_spisok_obiectov {
  .btn-info {
    background-color: $color1 !important;
    padding: 2px 10px;
    text-align: center;
    color: #000;
    font-size: 11pt;
    border: 1px solid $color1 !important;
    border-radius: 5px;
    @include ten1();
  }

  .opisanie {
    font-size: 80%;
  }

  .staraia_zena {
    font-size: 80%;
  }

  .page-link {
    color: #000 !important;
    border-radius: 100% !important;
    margin: 0 10px;

    @include ten2();

    &.micro_padding {
      padding-left: 13px;
      padding-right: 13px;
    }
  }

  .page-item.disabled a.page-link {
    color: #ddd !important;
  }

  .page-item.active .page-link, .page-item.active .page-link:hover {
    background-color: $color1 !important;
    border-color: $color1 !important;
    color: #000 !important;
  }

  .page-item .page-link:hover {
    color: #000 !important;
    background-color: $color1 !important;
  }


  .podshet_foto_wrap {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 20px;
    text-align: center;
  }

  .podshet_foto {
    padding: 2px 50px;
    z-index: 500;
    @include ten1();
    font-size: 80%;
  }

  .img_ssilka_na_obect:hover .podshet_foto, .img_ssilka_na_obect:active .podshet_foto {
    color: $color1 !important;
    border-color: $color1 !important;
    background: none !important;
  }

  .img_ssilka_na_obect img {
    filter: brightness(100%);
    transition: all 0.3s ease;
  }

  .img_ssilka_na_obect:hover img, .img_ssilka_na_obect:active img {
    filter: brightness(40%);
    transition: all 0.3s ease;
  }

  .small {
    font-size: 60%;
  }

  .zagolovok {
    color: #000;
  }

  .zagolovok:hover, .zagolovok:active {
    color: $color1 !important;
  }

  .prevyu, .card {
    border-radius: 7px;
  }

  .btn-info:hover, .btn-info:active {
    color: $color1;
    background-color: #fff;
  }

  .ten {
    @include ten1();
  }

}


.cms-toolbar-expanded .nedvizka_filtr_i_poisk {
  //top: 60px !important;
}

.nedvizka_filtr_i_poisk {
  @include ten2();

  //position: sticky;
  //bottom: 20px;


  .podpis_dlia_ot_do {
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 0.7rem;
  }

  select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    box-shadow: none;
    background: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  }

  .card-header {
    background-color: $color1;
  }

  .card-body {
    background-color: $color2;
  }

  background-size: cover;
  background-position: bottom;

  .btn-warning:hover, .btn-warning:active {
    color: #000 !important;
  }

  .btn-info:hover, .btn-info[disabled='disabled'] {
    color: $color1 !important;
  }

  .form_element {
    margin-bottom: 25px;

    label {
      display: block;
      transition: 0.2s;
      font-size: 0.9rem;
      color: #000;
      margin: 0;
      font-weight: bold;
    }

    input[type='text'], input[type='number'] {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid #9b9b9b;
      outline: 0;
      font-size: 1rem;
      background: none;
    }
  }


}


//*******************************************

a.text-dark {
  &:hover, &:active {
    color: $color1 !important;
  }

}

.bg-warning {
  background-color: $color1 !important;
}

.btn-light {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
  background-color: #fff;
  border-radius: 25px;

  color: #000 !important;


  border: 1px solid #fff;
  -webkit-box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);

  &:hover, &:active, &:focus {
    background: none !important;
    color: #000 !important;
    border: 1px solid $color1;
  }
}

.btn-warning, .btn-warning2, .main_menu .btn-warning {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
  background-color: $color1;
  border-radius: 25px;

  color: #000 !important;

  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid $color1;
  -webkit-box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);

  &:hover, &:active, &:focus {
    background: none !important;
    color: #000 !important;
    border: 1px solid $color1;
  }
}

.btn.btn-warning2 {
  &:hover, &:active, &:focus {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid $color1;
  }
}

a, body, form, button {
  //font-family: 'Prata', sans-serif;
  font-family: 'Montserrat', sans-serif;

}

a:focus, button:focus {
  outline: none;
}

a:hover, button.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

a.text-light {
  &:hover, &:active {
    color: $color1 !important;
  }
}

.zakritie_sidbara a {
  color: #000;

  &:hover, &:active {
    color: $color1;
  }
}

.otstup_menu {
  padding-bottom: 1.5rem;
  padding-top: 2.5rem;
}

//.page_second_type {
.main_menu {
  height: 180px !important;
  background-color: #000;
  color: #fff !important;
  @include ten4();

  position: sticky !important;
  top: 0 !important;

  .dropdown-item {
    color: #000 !important;
  }

  a {
    color: #fff !important;
    font-weight: bold;
  }


  .navbar_phone_place span {
    color: #fff !important;
  }


}

header {
  position: relative !important;
  top: 0 !important;
}

//}


header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  height: 145px;
}

.__header_logo_pc {
  color: #fff;
  text-transform: uppercase;
  font-size: 12pt;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
    font-weight: 700;

  strong {
    font-size: 30pt;
    letter-spacing: 7px;

  }
  padding-bottom: 40px;

  a:hover p, a:focus p {
    color: $color1;
  }
}

.__header_logo_mobile {
  text-transform: uppercase;
  font-size: 8pt;
  font-weight: 700;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;

  strong {
    font-size: 15pt;
    letter-spacing: 7px;
  }

  p {
    margin-bottom: 0;
  }
}

.__header_logo_mobile_link {
  .nav-link {
    border-bottom: 5px solid transparent;
    border-image: url(/static/core/img/border.png) 30;

    display: inline-block;
    font-size: 10pt;
  }

  p {
    margin-bottom: 10px;
  }
}

.__header_footer_pc {
  color: #000;
  text-transform: uppercase;
  font-size: 9pt;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;

  strong {
    font-size: 20pt;
    letter-spacing: 7px;

  }
}

.cms-toolbar-expanded header {

  top: 45px;
}

@media (max-width: 576px) {
  //.cms-toolbar-expanded {
  //  display: none;
  //}
  .cms-toolbar-expanded header {
    top: 0;
  }

  .cms-toolbar {
    display: none;
  }

  .cms-toolbar-expanded {
    margin: 0 !important;
  }

  .cms-toolbar-expanded .my_sidebar {
    top: 0 !important;
    bottom: 0;
    height: 100%;
  }

}


.btn-info {
  text-transform: uppercase;
  background-color: #60beaf !important;
  font-family: 'Myriad Pro', sans-serif;
  padding: 10px 35px;
  font-size: 11pt;
  border: 1px solid #60beaf !important;
  border-radius: 20px;
}

.text-info {
  color: #60beaf !important;
}

.otkritie_sidbara {
  text-transform: uppercase;
  background-color: $color1;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px;
  font-size: 11pt;
  border: 1px solid $color1;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 10px;

}

.btn-info:hover, .btn-info:active, .btn-info:visited {
  border: 1px solid #60beaf !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.btn-outline-info {
  border: 1px solid #60beaf !important;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 35px;
  font-size: 11pt;
  border-radius: 20px;
  font-weight: bold;
}

.btn-outline-info:hover, .btn-outline-info:active, .btn-outline-info:visited {
  background-color: #60beaf !important;
}


.bg-black {
  background-color: #000;

}

.bg-info {
  background-color: #60beaf !important;

}

.collapse.width {
  height: auto;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}


.my_sidebar {

  width: 320px;
  position: fixed;
  top: 0;
  left: -340px;
  height: 102vh;
  z-index: 999;
  transition: all 0.3s;
  /*overflow-y: scroll;*/
  //box-shadow: 10px 3px 20px $color1;
}

.my_sidebar.active {
  left: 0;
}

.cms-toolbar-expanded .my_sidebar {
  top: 45px;
  bottom: 0;
  height: 100%;
}

.zakritie_sidbara {
  position: absolute;
  top: 20px;
  right: 20px;
  a{
    color: $color1 !important;
  }

}

b, strong{
  font-weight: 700;
}

.zakazat_zvonok {
  &:active, &:hover {
    background-color: #fff !important;
  }
}

.footer_sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  //border-top:  1px solid #ccc;
  //background-color: #f5f5f5;
  padding: 7px 20px;
  box-sizing: border-box;

  p {
    margin-bottom: 7px;
  }
}


.nav-link {
  border-bottom: 5px solid transparent;
}

.nav-link.active, .nav-link:hover {
  /*border-bottom: 3px solid rgba(96, 190, 175, 0.5);*/
  border-bottom: 5px solid transparent;
  border-image: url(/static/core/img/border.png) 30;
  color: $color1 !important;

}


.forma_obratnoi_sviazi {
  background-size: cover;
  background-position: bottom;

  .btn-warning:hover, .btn-warning:active {
    color: #000 !important;
  }

  .btn-info:hover, .btn-info[disabled='disabled'] {
    background-color: #fff !important;
    color: $color1 !important;
  }

  .form__group {
    position: relative;
    padding: 25px 0 0;
    width: 100%;
  }


  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1rem;
  }

  .form__field::placeholder {
    color: transparent;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #bbb;
  }

  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $color1, #fff, $color1);
    border-image-slice: 1;
  }

  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $color1;
    font-weight: 700;
  }

  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }


}


.navbar_phone_place {
  width: 250px;
  /*border: 1px solid #ff0000;*/
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  height: 140px;
  padding: 20px 0 10px;
  text-align: center;
}

footer {
  position: relative;
  @include ten3();
}

.dropdown-menu {
  @include ten1();
  text-transform: uppercase;
  font-size: 0.8rem;

  .dropdown-item:hover, .dropdown-item:focus {
    background-color: $color1;
    color: #000;
  }
}

.predlozenia_na_ubk, .predlozenia_na_ubk .fonovoe_izobrazenie_plugin_zatemnenie {
  border-radius: 20px;
}

.predlozenia_na_ubk:hover {
  box-shadow: 0 3px 20px rgb(96, 190, 175);
}

.knopki_navigazii_kategorii_na_glavnoi .btn-light {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0;

}

.knopki_navigazii_kategorii_na_glavnoi .col:hover {
  background-color: #fff !important;
}

.knopki_navigazii_kategorii_na_glavnoi .col:first-child:hover {
  background-color: #fff !important;
  border-radius: 20px 0 0 20px;
  border: none;
}

.knopki_navigazii_kategorii_na_glavnoi .col:last-child:hover {
  background-color: #fff !important;
  border-radius: 0 20px 20px 0;
  border: none;
}

.knopki_navigazii_kategorii_na_glavnoi .col:last-child .btn-light {
  border-radius: 0 20px 20px 0;
  border: none;
}

.knopki_navigazii_kategorii_na_glavnoi .col:last-child:hover .btn-light {
  background-color: #434343 !important;
  border-radius: 0 20px 20px 0;
  border: none;
}

.knopki_navigazii_kategorii_na_glavnoi .col:first-child .btn-light {
  border-radius: 20px 0 0 20px;
}

.knopki_navigazii_kategorii_na_glavnoi .btn-light:hover {
  background-color: #434343 !important;
  color: #fff;
  border-radius: 20px !important;
}

a.text-info:hover, a.text-info:active, a.text-info:focus {
  color: #fff !important;
}

.pre_wrap {
  white-space: pre-wrap;

}


/*col*/
@media (min-width: 1px) {
  .header_black {
    background-color: #000000;
    height: 96px;
  }


}

/*sm*/
@media (min-width: 576px) {

}

@media (max-width: 575px) {
  .btn_lutchee {
    font-size: 1rem;
  }
}


/*md*/
@media (min-width: 768px) {
  .header_black {

    height: 140px;
  }
}

/*lg*/
@media (min-width: 992px) {
  .razdel_o_nas {
    padding-left: 70px !important;
  }

}

/*xl*/
@media (min-width: 1120px) {

}


.menu_vibora_tipa_kvartir {

}

.startovii_ecran_fonovoe_izobrazenie {
  padding: 40vh 0;
}

.ten1 {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

/*lg*/
#map {
  height: 300px;
}

@media (min-width: 992px) {
  #map {
    /*min-height: 90vh;*/
    /*max-height: 100%;*/
    width: 99.99%;
    height: 100%;
  }
}

.page-link-10px {
  padding-left: 10px;
  padding-right: 10px;
}