@charset "UTF-8";
/*Шрифты pt шаблона * 3 - 1*/
html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto;
  padding: 0 0 0;
}

.ten1 {
  -webkit-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
}

.modal-content {
  -webkit-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
}

.nedvizka_spisok_obiectov .btn-info {
  background-color: #fee500 !important;
  padding: 2px 10px;
  text-align: center;
  color: #000;
  font-size: 11pt;
  border: 1px solid #fee500 !important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
}
.nedvizka_spisok_obiectov .opisanie {
  font-size: 80%;
}
.nedvizka_spisok_obiectov .staraia_zena {
  font-size: 80%;
}
.nedvizka_spisok_obiectov .page-link {
  color: #000 !important;
  border-radius: 100% !important;
  margin: 0 10px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
}
.nedvizka_spisok_obiectov .page-link.micro_padding {
  padding-left: 13px;
  padding-right: 13px;
}
.nedvizka_spisok_obiectov .page-item.disabled a.page-link {
  color: #ddd !important;
}
.nedvizka_spisok_obiectov .page-item.active .page-link, .nedvizka_spisok_obiectov .page-item.active .page-link:hover {
  background-color: #fee500 !important;
  border-color: #fee500 !important;
  color: #000 !important;
}
.nedvizka_spisok_obiectov .page-item .page-link:hover {
  color: #000 !important;
  background-color: #fee500 !important;
}
.nedvizka_spisok_obiectov .podshet_foto_wrap {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 20px;
  text-align: center;
}
.nedvizka_spisok_obiectov .podshet_foto {
  padding: 2px 50px;
  z-index: 500;
  -webkit-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  font-size: 80%;
}
.nedvizka_spisok_obiectov .img_ssilka_na_obect:hover .podshet_foto, .nedvizka_spisok_obiectov .img_ssilka_na_obect:active .podshet_foto {
  color: #fee500 !important;
  border-color: #fee500 !important;
  background: none !important;
}
.nedvizka_spisok_obiectov .img_ssilka_na_obect img {
  filter: brightness(100%);
  transition: all 0.3s ease;
}
.nedvizka_spisok_obiectov .img_ssilka_na_obect:hover img, .nedvizka_spisok_obiectov .img_ssilka_na_obect:active img {
  filter: brightness(40%);
  transition: all 0.3s ease;
}
.nedvizka_spisok_obiectov .small {
  font-size: 60%;
}
.nedvizka_spisok_obiectov .zagolovok {
  color: #000;
}
.nedvizka_spisok_obiectov .zagolovok:hover, .nedvizka_spisok_obiectov .zagolovok:active {
  color: #fee500 !important;
}
.nedvizka_spisok_obiectov .prevyu, .nedvizka_spisok_obiectov .card {
  border-radius: 7px;
}
.nedvizka_spisok_obiectov .btn-info:hover, .nedvizka_spisok_obiectov .btn-info:active {
  color: #fee500;
  background-color: #fff;
}
.nedvizka_spisok_obiectov .ten {
  -webkit-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
}

.nedvizka_filtr_i_poisk {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  background-size: cover;
  background-position: bottom;
  /* reset input */
}
.nedvizka_filtr_i_poisk .card-header {
  background-color: #fee500;
}
.nedvizka_filtr_i_poisk .card-body {
  background-color: #f8f9fa;
}
.nedvizka_filtr_i_poisk .btn-warning:hover, .nedvizka_filtr_i_poisk .btn-warning:active {
  color: #000 !important;
}
.nedvizka_filtr_i_poisk .btn-info:hover, .nedvizka_filtr_i_poisk .btn-info[disabled=disabled] {
  background-color: #fff !important;
  color: #fee500 !important;
}
.nedvizka_filtr_i_poisk .form__group {
  position: relative;
  padding: 25px 0 0;
  width: 100%;
}
.nedvizka_filtr_i_poisk .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
}
.nedvizka_filtr_i_poisk .form__field::placeholder {
  color: transparent;
}
.nedvizka_filtr_i_poisk .form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}
.nedvizka_filtr_i_poisk .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #bbb;
}
.nedvizka_filtr_i_poisk .form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #fee500, #fff, #fee500);
  border-image-slice: 1;
}
.nedvizka_filtr_i_poisk .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fee500;
  font-weight: 700;
}
.nedvizka_filtr_i_poisk .form__field:required, .nedvizka_filtr_i_poisk .form__field:invalid {
  box-shadow: none;
}

a.text-dark:hover, a.text-dark:active {
  color: #fee500 !important;
}

.bg-warning {
  background-color: #fee500 !important;
}

.btn-warning, .btn-warning2 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
  background-color: #fee500;
  color: #000 !important;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #fee500;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning2:hover, .btn-warning2:active, .btn-warning2:focus {
  background: none !important;
  color: #000 !important;
  border: 1px solid #fee500;
}

.btn.btn-warning2:hover, .btn.btn-warning2:active, .btn.btn-warning2:focus {
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #fee500;
}

a, body, form, button {
  font-family: "Roboto", sans-serif;
}

a:focus, button:focus {
  outline: none;
}

a:hover, button.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

a.text-light:hover, a.text-light:active {
  color: #fee500 !important;
}

.zakritie_sidbara a {
  color: #000;
}
.zakritie_sidbara a:hover, .zakritie_sidbara a:active {
  color: #fee500;
}

.page_second_type .main_menu {
  height: auto !important;
  background-color: #f8f9fa;
  color: #000000 !important;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);
}
.page_second_type .main_menu a {
  color: #000000 !important;
}
.page_second_type .main_menu .__header_logo_pc {
  color: #000000 !important;
}
.page_second_type .main_menu .navbar_phone_place span {
  color: #000000 !important;
}
.page_second_type header {
  position: relative !important;
  top: 0 !important;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  height: 145px;
}

.__header_logo_pc {
  color: #fff;
  text-transform: uppercase;
  font-size: 12pt;
  line-height: 1;
  font-family: "Brygada 1918", sans-serif;
}
.__header_logo_pc strong {
  font-size: 30pt;
  letter-spacing: 7px;
}

.__header_logo_mobile {
  color: #000;
  text-transform: uppercase;
  font-size: 8pt;
  line-height: 1;
  font-family: "Brygada 1918", sans-serif;
}
.__header_logo_mobile strong {
  font-size: 15pt;
  letter-spacing: 7px;
}
.__header_logo_mobile p {
  margin-bottom: 0;
}

.__header_logo_mobile_link .nav-link {
  border-bottom: 3px solid #fee500;
  display: inline-block;
  font-size: 10pt;
}
.__header_logo_mobile_link p {
  margin-bottom: 10px;
}

.__header_footer_pc {
  color: #000;
  text-transform: uppercase;
  font-size: 9pt;
  line-height: 1;
  font-family: "Brygada 1918", sans-serif;
}
.__header_footer_pc strong {
  font-size: 20pt;
  letter-spacing: 7px;
}

.cms-toolbar-expanded header {
  top: 45px;
}

@media (max-width: 576px) {
  .cms-toolbar-expanded header {
    top: 0;
  }

  .cms-toolbar {
    display: none;
  }

  .cms-toolbar-expanded {
    margin: 0 !important;
  }

  .cms-toolbar-expanded .my_sidebar {
    top: 0 !important;
    bottom: 0;
    height: 100%;
  }
}
.btn-info {
  text-transform: uppercase;
  background-color: #60beaf !important;
  font-family: "Myriad Pro", sans-serif;
  padding: 10px 35px;
  font-size: 11pt;
  border: 1px solid #60beaf !important;
  border-radius: 20px;
}

.text-info {
  color: #60beaf !important;
}

.otkritie_sidbara {
  text-transform: uppercase;
  background-color: #fee500;
  font-family: "Myriad Pro", sans-serif;
  padding: 10px 15px;
  font-size: 11pt;
  border: 1px solid #fee500;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 20px;
}

.btn-info:hover, .btn-info:active, .btn-info:visited {
  border: 1px solid #60beaf !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.btn-outline-info {
  border: 1px solid #60beaf !important;
  color: #fff;
  text-transform: uppercase;
  font-family: "Myriad Pro", sans-serif;
  padding: 10px 35px;
  font-size: 11pt;
  border-radius: 20px;
  font-weight: bold;
}

.btn-outline-info:hover, .btn-outline-info:active, .btn-outline-info:visited {
  background-color: #60beaf !important;
}

.bg-black {
  background-color: #000;
}

.bg-info {
  background-color: #60beaf !important;
}

.collapse.width {
  height: auto;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.my_sidebar {
  width: 320px;
  position: fixed;
  top: 0;
  left: -340px;
  height: 102vh;
  z-index: 999;
  transition: all 0.3s;
  /*overflow-y: scroll;*/
}

.my_sidebar.active {
  left: 0;
}

.cms-toolbar-expanded .my_sidebar {
  top: 45px;
  bottom: 0;
  height: 100%;
}

.zakritie_sidbara {
  position: absolute;
  top: 20px;
  right: 20px;
}

.zakazat_zvonok:active, .zakazat_zvonok:hover {
  background-color: #fff !important;
}

.footer_sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: #f5f5f5;
  padding: 7px 20px;
  box-sizing: border-box;
}
.footer_sidebar p {
  margin-bottom: 7px;
}

.nav-link {
  border-bottom: 5px solid transparent;
}

.nav-link.active, .nav-link:hover {
  /*border-bottom: 3px solid rgba(96, 190, 175, 0.5);*/
  border-bottom: 3px solid #fee500;
  color: #fee500 !important;
}

.forma_obratnoi_sviazi {
  background-size: cover;
  background-position: bottom;
  /* reset input */
}
.forma_obratnoi_sviazi .btn-warning:hover, .forma_obratnoi_sviazi .btn-warning:active {
  color: #000 !important;
}
.forma_obratnoi_sviazi .btn-info:hover, .forma_obratnoi_sviazi .btn-info[disabled=disabled] {
  background-color: #fff !important;
  color: #fee500 !important;
}
.forma_obratnoi_sviazi .form__group {
  position: relative;
  padding: 25px 0 0;
  width: 100%;
}
.forma_obratnoi_sviazi .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
}
.forma_obratnoi_sviazi .form__field::placeholder {
  color: transparent;
}
.forma_obratnoi_sviazi .form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}
.forma_obratnoi_sviazi .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #bbb;
}
.forma_obratnoi_sviazi .form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #fee500, #fff, #fee500);
  border-image-slice: 1;
}
.forma_obratnoi_sviazi .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fee500;
  font-weight: 700;
}
.forma_obratnoi_sviazi .form__field:required, .forma_obratnoi_sviazi .form__field:invalid {
  box-shadow: none;
}

.navbar_phone_place {
  width: 250px;
  /*border: 1px solid #ff0000;*/
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  height: 140px;
  padding: 20px 0 10px;
  text-align: center;
}

footer {
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

.dropdown-menu {
  -webkit-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 7px 9px rgba(34, 60, 80, 0.2);
  text-transform: uppercase;
  font-size: 0.8rem;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  background-color: #fee500;
  color: #000;
}

.predlozenia_na_ubk, .predlozenia_na_ubk .fonovoe_izobrazenie_plugin_zatemnenie {
  border-radius: 20px;
}

.predlozenia_na_ubk:hover {
  box-shadow: 0 3px 20px #60beaf;
}

.knopki_navigazii_kategorii_na_glavnoi .btn-light {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}

.knopki_navigazii_kategorii_na_glavnoi .col:hover {
  background-color: #fff !important;
}

.knopki_navigazii_kategorii_na_glavnoi .col:first-child:hover {
  background-color: #fff !important;
  border-radius: 20px 0 0 20px;
  border: none;
}

.knopki_navigazii_kategorii_na_glavnoi .col:last-child:hover {
  background-color: #fff !important;
  border-radius: 0 20px 20px 0;
  border: none;
}

.knopki_navigazii_kategorii_na_glavnoi .col:last-child .btn-light {
  border-radius: 0 20px 20px 0;
  border: none;
}

.knopki_navigazii_kategorii_na_glavnoi .col:last-child:hover .btn-light {
  background-color: #434343 !important;
  border-radius: 0 20px 20px 0;
  border: none;
}

.knopki_navigazii_kategorii_na_glavnoi .col:first-child .btn-light {
  border-radius: 20px 0 0 20px;
}

.knopki_navigazii_kategorii_na_glavnoi .btn-light:hover {
  background-color: #434343 !important;
  color: #fff;
  border-radius: 20px !important;
}

a.text-info:hover, a.text-info:active, a.text-info:focus {
  color: #fff !important;
}

.pre_wrap {
  white-space: pre-wrap;
}

/*col*/
@media (min-width: 1px) {
  .header_black {
    background-color: #000000;
    height: 96px;
  }
}
/*sm*/
@media (max-width: 575px) {
  .btn_lutchee {
    font-size: 1rem;
  }
}
/*md*/
@media (min-width: 768px) {
  .header_black {
    height: 140px;
  }
}
/*lg*/
@media (min-width: 992px) {
  .razdel_o_nas {
    padding-left: 70px !important;
  }
}
/*xl*/
.startovii_ecran_fonovoe_izobrazenie {
  padding: 40vh 0;
}

.ten1 {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

/*lg*/
#map {
  height: 300px;
}

@media (min-width: 992px) {
  #map {
    /*min-height: 90vh;*/
    /*max-height: 100%;*/
    width: 99.99%;
    height: 100%;
  }
}
.page-link-10px {
  padding-left: 10px;
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
