{% load menu_tags %}

{% for child in children %}


{#    {% if child.children %}#}
{#        <li class="child nav-item dropdown  ">#}
{#            <a class="nav-link dropdown-toggle text-white text-uppercase font-weight-bold" href="#" id="navbarDropdown{{ forloop.counter0 }}" role="button"#}
{#               data-toggle="dropdown"#}
{#               aria-haspopup="true" aria-expanded="false">#}
{#                {{ child.get_menu_title }}#}
{#            </a>#}
{#            <div class="dropdown-menu sub_menu" aria-labelledby="navbarDropdown{{ forloop.counter0 }}">#}
{#                {% for sub_child in child.children %}#}
{#                    <a class="dropdown-item" href="#">{{ sub_child.get_menu_title }}</a>#}
{#                    <a class="dropdown-item" href="{{ sub_child.attr.redirect_url|default:sub_child.get_absolute_url }}">{{ sub_child.get_menu_title }}</a>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </li>#}
{#    {% else %}#}
        <li class="child nav-item mx-2">
            <a class="nav-link {% if child.selected %}active{% endif %} text-white ac  font-weight-bold"
               href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>

        </li>
{#    {% endif %}#}


{% endfor %}



